body {
  color: #5e0101;
}
.disabled-link {
  pointer-events: none;
}

#hrStyle {
  width: 80%;
  background-color: black;
  height: 2px;
  margin: auto;
}
.popup-show {
  /* display: block;
   */
  visibility: visible;
  z-index: 1000;
}
.popup-hide {
  /* display: none !important; */
  visibility: hidden;
}
#labelTag {
  font-weight: bolder;
  font-size: 18px;
}
.signOutLink {
  text-decoration: none;
  letter-spacing: 2px;
  color: #fff;
  font-size: 18px;
}
.signOutLink:hover {
  color: white;
}

#signInTitle {
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: bolder;
}
#test-container {
  background-color: #fed7d7;
  border-radius: 8px;
  width: 70%;
}
.btn,
.btn:hover {
  background-color: #fd7c7c;
  color: white;
}
/* .btn:hover {
  background-color: #fd7c7c;
  color: white;
} */

.list-group-item {
  cursor: pointer;
  color: black;
}
.list-group-item.active {
  background-color: #fd9696;
  border: #fd9696;
  color: white;
}
li {
  list-style: none;
}
#logInDiv {
  width: 50%;
  background-color: #fed7d7;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
#topic-card {
  background-color: #feaaaa;
  border: none;
}
#brandLink {
  letter-spacing: 3px;
  font-family: "Yeon Sung", cursive;
  font-weight: "bolder";
  font-size: 25px;
  color: white;
}
#loader {
  width: 300px;
  height: 100px;
  background-color: #fed7d7;
  color: black;
}
#conditionDiv {
  width: 40%;
}
#navBrand {
  width: 60%;
}
#home-container {
  width: 80%;
  background-color: #fed7d7;
}

@media screen and (max-width: 768px) {
  #logInDiv {
    width: 80%;
    margin-bottom: 20px;
  }
  #test-container {
    width: 90%;
  }
}
